footer.footer
  .container
    .footer__inner-wrap
      .footer__column-info
        a.logo(href='#')
          img(src="img/logo-footer.png", alt="")
        p 
          | LED screens, LED mesh, <br> LED advanced display manufacturer

      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#', onclick="return false")
              | PRODUCTION
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') For Industry
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Technology
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') How It Works
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#', onclick="return false")
              | COMPANY
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') About
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Press-Kit
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Careers
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#', onclick="return false")
              | CONTACT US
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') 
                  |Shchepkina st., 6 bldg. 1 Moscow, 129090
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='mailto:welcome@ledder.net') welcome@ledder.net
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') +7 (999) 999-99-99
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#', onclick="return false")
              | JOIN THE MAILING LIST
          li.footer-nav__list-item
            input(type='text', placeholder='Email Adress *')
            button.send-mail


    img.second-logo(src="img/lofo-footer-grey.png", alt="")

    .footer__copyright
      p Copyright © 2018 Ledder Inc. All rights reserved.
      .footer__copyright-right
        a(href="#") Terms and conditions
        a(href="#") Privacy Policy