section.header-slider
  .container-full
    .slider
      div
        img(src="http://www.radionetplus.ru/uploads/posts/2013-05/1369460621_panda-26.jpg", alt="")
      //- .homepage-hero-module
      //-   .video-container
      //-     .filter
      //-     video.fillWidth(autoplay='true', loop='')
      //-       source(src='video/MP4/Bronze_set.mp4', type='video/mp4')
      //-       | Your browser does not support the video tag. I suggest you upgrade your browser.
      //-       source(src='video/Webm/Bronze_set.webm', type='video/webm')
      //-       | Your browser does not support the video tag. I suggest you upgrade your browser.
      div
        img(src="https://telegraf.com.ua/files/2016/11/cat.jpg", alt="")
      div
        img(src="https://cdn.fishki.net/upload/post/2017/03/19/2245758/tn/02-funny-cat-wallpapercat-wallpaper.jpg", alt="")