section.header-slider
  .container-full
    .owl-carousel.owl-theme
      .item-video(data-merge='3')
        a.owl-video(href='https://www.youtube.com/watch?v=VPkBt2Vjaa0')
      .item-video(data-merge='1')
        a.owl-video(href='https://www.youtube.com/watch?v=VPkBt2Vjaa0')
      .item-video(data-merge='3')
        a.owl-video(href='https://www.youtube.com/watch?v=VPkBt2Vjaa0')
      .item-video(data-merge='1')
        a.owl-video(href='https://www.youtube.com/watch?v=VPkBt2Vjaa0')