section.slider
  .homepage-hero-module
    .video-container
      .filter
      video.fillWidth(autoplay, loop='')
        source(src='video/MP4/Bronze_set.mp4', type='video/mp4')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
        source(src='video/Webm/Bronze_set.webm', type='video/webm')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
      .poster.hidden
        img(src='img/Bronze_set.jpg', alt='')
  div slide 2
  div slide 3