section.header-slider
  .container-full
    .owl-carousel.owl-theme
      .item-video(data-merge='3')
        p qwerty
      .item-video(data-merge='1')
        p qwerty
      .item-video(data-merge='3')
        p qwerty
      .item-video(data-merge='1')
        p qwerty