section.our-team
  .container
    h2.our-team__header Our Team
    p.our-team__text 
      |Desktop Metal is reinventing the way engineering and manufacturing teams produce metal parts - from prototyping through mass production
    
    .container-inner
        .our-team__teammate.wow.zoomInLeft(data-wow-duration="0.7s" data-wow-delay="1s")
          .our-team__teammate-img
            img(src="img/photo1.png", alt="")
          h3.our-team__teammate-name Alex Storm
          span.our-team__teammate-position Chief Engineer
          p.our-team__teammate-desc
           | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas nobis nostrum corrupti rerum excepturi!
        
        .our-team__teammate.wow.zoomInLeft(data-wow-duration="0.7s" data-wow-delay="1.2s")
          .our-team__teammate-img
            img(src="img/photo2.png", alt="")
          h3.our-team__teammate-name Alex Storm
          span.our-team__teammate-position Chief Engineer
          p.our-team__teammate-desc
           | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas nobis nostrum corrupti rerum excepturi!
        
        .our-team__teammate.wow.zoomInLeft(data-wow-duration="0.7s" data-wow-delay="1.4s")
          .our-team__teammate-img
            img(src="img/photo3.png", alt="")
          h3.our-team__teammate-name Alex Storm
          span.our-team__teammate-position Chief Engineer
          p.our-team__teammate-desc
           | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas nobis nostrum corrupti rerum excepturi!
        
        .our-team__teammate.wow.zoomInLeft(data-wow-duration="0.7s" data-wow-delay="1.6s")
          .our-team__teammate-img
            img(src="img/photo4.png", alt="")
          h3.our-team__teammate-name Alex Storm
          span.our-team__teammate-position Chief Engineer
          p.our-team__teammate-desc
           | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas nobis nostrum corrupti rerum excepturi!