section.text-block
  h2 FOR INDUSTRY
  p 
    | Desktop Metal is reinventing the way engineering and          manufacturing teams produce metal parts - from prototyping through mass production
  p
    |Desktop Metal was started to address a problem—how to make metal 3D printing accessible for engineering teams. In 2013, CEO Ric Fulop began collaborating with world-leading experts in materials science, engineering, and 3D printing.

  h2 TECHNOLOGY
  p 
    | Desktop Metal is reinventing the way engineering and manufacturing teams produce metal parts - from prototyping through mass production
  p
    | Metal was started to address a problem—how to make metal 3D printing accessible for engineering teams. In 2013, CEO Ric Fulop began collaborating with world-leading experts in materials science, engineering, and 3D printing.
  button.text-block__btn.btn.btn--outline CTA BUTTON