extends ../template/main

block variables
	- var title = "Ladder"
	- var bodyClass = "index"

block content
	include ../components/header-slider
	include ../components/text-block
	//- include ../components/how-does
	include ../components/about
	include ../components/our-team
	include ../components/footer