include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")

		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")

		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/animate.css")

		//- OWL
		link(rel="stylesheet" href="owl.carousel/dist/assets/owl.carousel.min.css")
	
		link(rel="stylesheet" href="css/chosen.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.min.css")
		

	body(class="" + bodyClass)
		include ../components/header-index
		main.main
			block content
		include ../components/footer

		script(src="https://code.jquery.com/jquery-3.1.1.min.js")

		//- OWL
		//- script(src="jquery/dist/jquery.js" type="text/javascript")
		script(src="owl.carousel/dist/owl.carousel.min.js" type="text/javascript")
		//- WOW
		script(src="js/wow.min.js" type="text/javascript")
		//- Chosen
		script(src="js/chosen.jquery.min.js" type="text/javascript")
		script(src="js/chosen.init.js" type="text/javascript")

		//- script(src="js/main.js" type="text/javascript")
		script(src="js/script.js" type="text/javascript")